<h1>Editing Portfolio Subscription</h1>

<%= render 'form', portfolio_subscription: @portfolio_subscription %>

<%= link_to 'Show', @portfolio_subscription %> |
<%= link_to 'Back', portfolio_subscriptions_path %>
