
<div class="col-xl-12">
    <div class="card">
        <div class="card-body">
            <div id="chart">
            </div>

        </div>
    </div>
</div>

<script>
  var options = {
    series: [],
    legend: {
      show: true,
      position: 'bottom',
      horizontalAlign: 'left',
      fontSize: '14px',
      fontFamily: 'Helvetica, Arial',
      fontWeight: 400,
      width:'20px',
    },
    theme: {
      mode: 'light', 
    //   palette: 'palette6', 
    },
  dataLabels: {
    enabled: true,
    style: {
      fontSize: '12px',
    },
    formatter: function(text, op) {
      return [text, op.value.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL', minimumFractionDigits: 0, maximumFractionDigits: 0 })]
    },
    offsetY: -4
  },
  chart: {
    height: 310,
    type: 'treemap',
    toolbar: {
      show: false}
  },
  colors: [
    '#3B93A5',
    '#F7B844',
    '#38BC6A',
    '#EC3C65',
    '#748C38',
    '#8A1459',
    '#71A021',
    '#1E5D8C',
    '#421243',
    '#7F94B0',
    '#EF6537',
    '#C0ADDB'
    ],
    plotOptions: {
        treemap: {
            distributed: true,
            enableShades: false
        }
    }
};

var chart = new ApexCharts(document.querySelector("#chart"), options);
chart.render();

var url = "/api/portfolio/<%= @portfolio.id %>/criptos_chart";
$.getJSON(url, function (response) {
 chart.updateSeries(response);
});


</script>