5<div class="col-xl-4">
    <div class="card">
        
        <div class="card-body">
            <%= render 'piechart' %>


      </div>
    </div>
</div>

<div class="col-xl-7">
    <div class="card">
        
        <div class="card-body">

            <%= render 'treemap' %>

        </div>
    </div>
</div>

