<h1>Editing Portfolio Holding Token</h1>

<%= render 'form', portfolio_holding_token: @portfolio_holding_token %>

<%= link_to 'Show', @portfolio_holding_token %> |
<%= link_to 'Back', portfolio_holding_tokens_path %>
