<div class="container">
    <h3 class="h3-custom" id="minhas-paginas">
        <em class="fa fa-pencil text-success"></em> &nbsp; Editar 
    </h3>
    <div class="card card-default">
    <div class="card-body">

<%= render 'form', order: @order %>

<%= link_to 'Show', @order %> |
<%= link_to 'Back', orders_path %>

  </div>
    </div>
</div>
