<div id="chart2"></div>

<script>

var options = {
  
  chart: {
  height: 480,
  type: 'pie',
},
colors: [
    '#3B93A5',
    '#F7B844',
    '#1E5D8C',
    '#5C388E',
    '#748C38',
    '#8A1459',
    '#421243',
    '#7F94B0',
    '#EF6537',
],
legend: {
show: true,
position: 'bottom',
horizontalAlign: 'left',
fontSize: '14px',
fontFamily: 'Helvetica, Arial',
fontWeight: 400,
width:'20px',
},
dataLabels: {
enabled: true,
style: {
fontSize: '12px',
},
},

series: [7.23, 33.71, 10.77, 1.02, 39.27, 3.92, 4.08],
labels: ['Ações Brasileiras', 'Fundos Imobiliários', 'Internacional', 'Renda Fixa', 'Imoveis', 'Criptomoedas', 'Outros Bens' ],
responsive: [{
  breakpoint: 480,
  options: {
    chart: {
      width: 200
    },
    legend: {
      position: 'bottom'
    }
  }
}]
};

var chart2 = new ApexCharts(document.querySelector("#chart2"), options);
chart2.render();

</script>


