<div id="chart3"></div>

<script>

var options = {
          series: [{
            name: "Preço do Token",
            data: [
              <% @orders.each do |order| %>
                <%= number_with_precision(order.token_price, precision: 2) %>,
              <% end %>
              // 10, 41, 35, 51, 49, 62, 69, 91, 148
              ]
        }],
          chart: {
          height: 450,
          type: 'line',
          zoom: {
            enabled: false
          },
          toolbar: {
            show: false}
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'smooth'
        },
        title: {
          text: 'Valor Patrimonial do Token/Cota',
          align: 'left'
        },
        grid: {
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
          },
        },
        xaxis: {
          categories: [
            <% @orders.each do |order| %>
                '<%= order.month.title %>/<%= order.year.title %>',
              <% end %>
            // 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'
            ],
        }
        };

        var chart3 = new ApexCharts(document.querySelector("#chart3"), options);
        chart3.render();

</script>




